In [295]:
import pandas as pd
import numpy as np
import pycountry

# Country table

In [296]:
# Get a list of all countries
countries_short = [country.alpha_2 for country in pycountry.countries]
countries_name = [country.name for country in pycountry.countries]

countries_df = pd.DataFrame({'handle': countries_short, 'name': countries_name}).reset_index()
countries_df = countries_df.rename(columns={"index":"country_id"})

# Movies Dataset cleaning

In [336]:
movies = pd.read_csv(r"C:\Users\Martijn\Downloads\netflix_titles_anandshaw.csv")
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [337]:
# How many rows with including the words "alien" and "ufo" in the title or description? 
filtered_df = movies[movies['title'].str.contains('alien|ufo|extraterrestrial|spaceship|spacecraft|cosmic|intergalactic|martian|extraterrestrials|galactic|asteroid|space|starship', case=False, na=False) | 
                     movies['description'].str.contains('alien|ufo|extraterrestrial|spaceship|spacecraft|cosmic|intergalactic|martian|extraterrestrials|galactic|asteroid|space|starship', case=False, na=False)]
print(len(filtered_df))

# create new column that indicates if movie has ufo theme
movies['ufo_theme'] = np.where(
    movies['description'].str.contains(
        'alien|ufo|extraterrestrial|spaceship|spacecraft|cosmic|intergalactic|martian|extraterrestrials|galactic|asteroid|space|starship', 
        case=False, 
        na=False
    ), 
    'yes', 
    'no'
)

movies.columns

174

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description',
       'ufo_theme'],
      dtype='object')

In [ ]:
movies['date_added'] = pd.to_datetime(movies['date_added'], errors='coerce')
# Drop rows where 'date_added' is NaT due to coercion errors
movies = movies.dropna(subset=['date_added'])
movies = movies[['date_added', 'ufo_theme', 'release_year', 'type', 'title']]
movies['date_added_formatted'] = movies['date_added'].dt.strftime('%m/%Y')

# UFO reports cleaning

In [300]:
ufo_report  = pd.read_csv(r"C:\Users\Martijn\Downloads\nuforc_reports (1).csv")

In [302]:
ufo_report.info()

# rename columns to lower case
ufo_report.columns = ufo_report.columns.str.lower()

# remove columns 'Date', 'Posted', 'Shape', 'Duration', 'Image', 'Link', 'Summary', 'Text' (to avoid confusion about correct date column and other columns)
ufo_report = ufo_report.drop(columns=['date','posted', 'shape', 'duration', 'image', 'link', 'summary', 'text'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143940 entries, 0 to 143939
Data columns (total 12 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Date_Table  143940 non-null  object
 1   Date        143940 non-null  object
 2   Posted      143940 non-null  object
 3   City        143933 non-null  object
 4   State       143895 non-null  object
 5   Country     143938 non-null  object
 6   Shape       143940 non-null  object
 7   Duration    143915 non-null  object
 8   Image       143940 non-null  object
 9   Link        143940 non-null  object
 10  Summary     143940 non-null  object
 11  Text        143906 non-null  object
dtypes: object(12)
memory usage: 13.2+ MB

In [303]:
# rename column date_table
ufo_report = ufo_report.rename(columns={'date_table': 'date'})
print(ufo_report)

                             date                city    state  country
0                         04/2023            Honolulu       HI      USA
1                         04/2023         Bakersfield  Unknown      USA
2                         04/2023         Castle Dale  Unknown  Unknown
3                         04/2023           Baltimore       MD      USA
4                         03/2023             Madison       WI      USA
...                           ...                 ...      ...      ...
143935                    07/1947             Roswell       NM      USA
143936                    06/1947      Corpus Christi       TX      USA
143937                    06/1952              Auburn       WA      USA
143938  UNSPECIFIED / APPROXIMATE           Troutdale       OR      USA
143939                    06/1950  Budapest (Hungary)  Unknown  Hungary

[143940 rows x 4 columns]

In [304]:
correct_format = r'^\d{1,2}/\d{4}$'

# count rows that do not have date format of MM/YYYY in 'Date_Table'
invalid_rows_count = ufo_report[~ufo_report['date'].str.match(correct_format, na=False)].shape[0]

print(f"invalid rows: {invalid_rows_count}")

# remove rows with invalid date format 
ufo_report = ufo_report[ufo_report['date'].str.match(correct_format, na=False)]
print(ufo_report)

invalid rows: 376
           date                city    state  country
0       04/2023            Honolulu       HI      USA
1       04/2023         Bakersfield  Unknown      USA
2       04/2023         Castle Dale  Unknown  Unknown
3       04/2023           Baltimore       MD      USA
4       03/2023             Madison       WI      USA
...         ...                 ...      ...      ...
143934  07/1954             Oakdale       NY      USA
143935  07/1947             Roswell       NM      USA
143936  06/1947      Corpus Christi       TX      USA
143937  06/1952              Auburn       WA      USA
143939  06/1950  Budapest (Hungary)  Unknown  Hungary

[143564 rows x 4 columns]

In [305]:
# based on unique values from country we clean country column and remove invalid values
unique_countries = ufo_report['country'].unique()
print(unique_countries)

# List of invalid values to remove
invalid_countries = ['no', 'unknown', 'none', 'not applicable', 'unknown/at sea', 'unavailable', 'in orbit', 'space', 'atlantic ocean', 'caribbean sea', 'pacific ocean', 'international space station', 'moon', 'mars', 'none', 'not found']

# Convert the 'Country' column to lowercase and filter out invalid values
ufo_report = ufo_report[~ufo_report['country'].str.lower().isin(invalid_countries)]

['USA' 'Unknown' 'United Kingdom' 'Canada' 'turkey' 'India' 'Australia'
 'Malta' 'Switzerland' 'France' 'Guam' 'Puerto Rico' 'Ukraine' 'Mexico'
 'Ireland' 'Japan' 'Germany' 'Poland' 'New Zealand' 'Pakistan'
 'South Africa' 'Papua New Guinea' 'Kenya' 'Thailand' 'Israel' 'Denmark'
 'Malaysia' 'Lebanon (Middle East)' 'Argentina' 'Myanmar' 'Cambodia'
 'Croatia' 'On the way to Cozumel' 'South-Africa' 'Brazil' 'Macedonia'
 'Cyprus' 'China' 'Panama' 'Romania' 'In Orbit' 'Trinidad/Tobago'
 'Jamaica' 'Luxemburg' 'Italy' 'East China Sea' 'Bulgaria' 'Iran' 'Spain'
 'Decalb' 'Portugal' 'Turkey' 'Indonesia' 'Lebanon' 'South Korea'
 'North Wales' 'Belgium' 'Netherlands' 'Luxembourg' 'Philippines'
 'Guatemala' 'Srui Lanka' 'Jordan' 'Afghanistan' 'Finland' 'Taiwan'
 'Algeria' 'Venezuela' 'Bahamas'
 'South Georgia and the south sandwich islands' 'Costa Rica' 'Honduras'
 'Lithuania' 'Bahrain' 'Palau' 'Western Australia' 'Mozambique'
 'Dominican Republic' 'Belize' 'Slovenia' 'Bosnia and Herzegovina'
 'Colombia' 'Greece' 'Hellenic Republic' 'Hungary' 'Latvia' 'Sweden'
 'Portereco  2 miles of the coast' 'Republic of Ireland'
 'Republic of South Africa' 'Peru' 'Tenerife, Spain' 'Armenia' 'Mauritius'
 'Egypt' 'Nigeria' 'Mars' 'Caribbean Sea' 'Djibouti' 'Norway' 'Fiji'
 'Puerto rico' 'Iraq' 'Scotland' 'Bangladesh' 'Czech Republic' 'Serbia'
 'Zimbabwe' 'Bolivia' 'Russia (former Ukraine)'
 'Isle of Man, Great Britain' 'South Korea / Japan' 'Viet Nam' 'canada'
 'OMAN/UAE' 'Isle of Man' 'Nicaragua' 'Brunei' 'italy' 'Chile'
 'Caicos Islands' 'Quebec' 'United States\r\n\r\n\r\n'
 'Grand Canary Island' 'London' 'Grenada' 'St Thomas and Nassau'
 'Over ocean between London and Northern Netherlands' 'Zambia' 'Georgia'
 'U. S. Virgin Islands' 'Austria' 'Dominica, West Indies' 'Nigeria ðŸ‡³ðŸ‡¬'
 'Qatar' 'Sri Lanka' 'Northern Ireland' 'Russia'
 'Puerto Rico Commonwealth' 'Hong Kong S.A.R.' 'hatton city, Sri Lanka'
 'Bermuda' 'non applicable' 'Kosovo' 'Ecuador' 'Russian Federation'
 'Regatul Unit' 'United Arab Emirates' 'Menorca' 'Curacao'
 'British Virgin Islands' 'Cuba' 'Tunisia' 'Azerbaijan' 'Albania'
 'Estonia' 'Trinidad and Tobago' 'Botswana' 'Slovakia' 'Sukumwit'
 'Caribbean (Grand Turk)' 'South  Africa' 'US and Canada Border' 'Morocco'
 'Saudi Arabia' 'Kuwait' 'US Virgin Islands' 'Nepal'
 'Israel\\occupied palestine' 'Maldives' 'Iceland' 'Saipan' 'Barbados'
 'Kazakhstan' 'American Samoa' 'Santo Domingo' 'usa' 'Roma'
 'Chennai. Tamil Nadu' 'india' 'Liberia' 'Tanzania'
 'Turks and Caicos Islands' 'Bosnia and herzegovina' 'Tenerife' 'USAUSA'
 'Dublin Ireland' 'No' 'Grenoble' 'Italy/Greece' 'mexico' 'Singapore'
 'Hong Kong SAR' 'UK/England' 'Nederland' 'Mongolia' 'Republic of Panama'
 'Macedonia (FYROM)' 'south africa' 'Citizen' 'Namibia' 'Murcia'
 'In orbit' 'South Atlantic/Caribbean (on cruise ship)' 'Atlantic Ocean'
 'The Bahamas' 'Antigua' 'none' 'Senegal' 'Slovak Republic'
 'United Arad Emirates' 'Norge' 'Martinique' 'St. Kitts' 'Syria' 'Moon'
 'Korea (South)' 'Trinidad' 'Cuba/Florida (between)'
 'Netherlands Antilles' 'In orbit (space)' 'Seychelles'
 'Sultanate of Oman' 'united kingdom' 'Hong Kong' 'Serbia and Montenegro'
 'Yup' 'Mediterranean sea.' 'Bahamas The' 'Tijuana b.c' 'Antarctica'
 'USAv' 'UAE' 'Paraguay' 'Ghana' 'Yes' 'Aruba' 'Vietnam' 'U.S.A.'
 'Reunion Island' 'Corsica (France)' 'El Salvador' 'North Atlantic'
 'Andaman Islands' 'Nauru' 'PerÃº' 'Virgin Islands' 'Korea South' 'Angola'
 'Gambia' 'Grand Cayman' 'Thailand & Malaysia' 'Kyrgyzistan'
 'French West Indies' 'Uruguay' 'Republic of Macedonia'
 'In orbit in space' 'Ethiopia'
 'Pacific Ocean ( between Philippines and Japan )' 'Mediterranean Sea'
 'Bahamas/USA' 'Grenadine Islands' 'Saint Helena South Atlantic Ocean'
 'Greenland' 'Gulf of Mexico / Florida straits' 'El Cobre' 'Suriname'
 'Indian Ocean' 'mid-Atlantic Ocean' 'Gran Canaria' 'Yugoslavia'
 'Crete (Greece)' 'Oakland' 'Corsica' 'ITALY' 'Aegean Sea'
 'Indian Ocean 500 miles from nearest land' 'USVI' 'Trinidad & Tobago'
 'Okinawa' 'Europe' 'Untied States of America' 'Chad' 'Yemen' 'Usa'
 'Sweden/Denmark' 'Persian Gulf' 'Congo' 'Space via nasa tv'
 'East Atlantic Ocean' 'Swizterland' 'Uzbekistan' 'Pacific Ocean'
 'France/Antibes' 'U' 'China Also?' 'yes' 'Gibraltar' 'Saint Maarten'
 'Northern Cyprus' 'Korea' 'Haiti' 'St. Lucia' 'Tokyo to Honolulu'
 'TÃ¼rkiye' 'Democratic Republic of the Congo' 'Mid-Atlantic Ocean'
 'United kingdom' 'Nairobi' 'slovakia' 'Palestine' 'Lesotho' 'East Timor'
 'Netherlands The' 'Virgin Islands (U.S.)' 'Monaco' 'Sri lanka' 'Tasmania'
 'Gulf of Mexico' 'Republic of Georgia' 'Cameroon' 'Kosova'
 'Republic of Korea' 'Colorado springs' 'Federated States of Micronesia'
 'SriLanka' 'Czech republic' 'over New Brunswick' 'Lake Ontario'
 'Pacific Ocean (in-fight)' 'sri lanka' 'Guinea' nan 'Surinam'
 'Myanmar (Burma)' 'Cayman Islands' 'Faroe Islands' 'SI' 'Sinai'
 'International Space Station' 'Switzerland/UK (in flight)' 'Anguilla'
 'UK/Wales' 'Guyana, South America' 'finland' 'Channel Islands'
 'Above the pacific ocean' 'Guatamala' 'United States' 'Puerto Rico usa'
 'French Polynesia' 'great britain' 'USA/Canadian Waters' 'Ochorios'
 'San Juan and St. Thomas USVI' 'Japan (Okinawa)' 'West Germany'
 'Caribbean Sea/Atantic Ocean' 'Uganda' 'Virgin Islands (U. S.)'
 'New Zealand -Taranaki' 'Germany/Holland' 'North Atlantic Ocean'
 'Turks & Caicos' 'Guyana' 'Malawi' 'Kingdom of Bahrain'
 'Panama Canal Zone' 'Euleuthera' 'Nekoosa'
 'Puerto Rico/Burmuda (between)' 'North Sea' 'Kenya (East Africa)'
 'Montenegro' 'PUERTO RICO' 'Foreign' 'Vanuatu' 'Okinawa Japan'
 'Croatia (Hrvatska)' 'Caribbean' 'United States Minor Outlying Islands'
 'San Miguel Tecuitlapa, Puebla, Mexico' 'Outer Mongolia' 'Burkina Faso'
 'Atlantic Ocean/Puerto Rico' 'Libya' 'Germany (West Germany)'
 'St. Helena Island' 'Grand Cayman Island' 'Virgin Islands (US)' 'Tonga'
 'St. Martin' 'Tyrrhenian Sea' 'Israel - near Petach Tikva'
 'Rhodesia (Now Zimbabwe)' 'Solomon Islands' 'Moldova (Republic of )'
 'India (south- east)' 'Somalia' 'Slovakia/Austria' 'Belarus'
 'Pacific Ocean (western)' 'South Atlantic Ocean' 'CZECH republic'
 'Republic of Palau' 'Dubai' 'Saint Kitts And Nevis' 'france'
 'St. Maarten/Netherland Antilles' 'Swaziland' 'Mauritius Island' 'Laos'
 'Tuvalu' 'Middle of the Atlantic Ocean' 'Oman'
 'lat 2 deg 48 min N  124 deg W' 'Near Earth Orbit' 'Panama Canal'
 'Turkmenistan' 'Dominican republic' 'saipan' 'Tunisia-ITALIA,MIDELLSEA'
 'Kazakstan' 'Netherland Antilles' 'Saint Lucia' 'St. Thomas'
 'Cruise ship' 'Fiji Islands' 'Cape Verde Island' 'Germany/France'
 'South Pacific' 'USA & Canada' 'South Pacific Ocean' 'Central Viet Nam'
 'Russia (USSR)' 'Azores' 'Far East' 'Midway Island' 'mediterranean sea'
 'Philippine Sea' 'South Vietnam' 'no' 'unknown/at sea'
 'Mediterrainian Sea' 'Orust']

In [306]:
# create Country_Code column
# Funktion zum Abrufen des ISO 3166-1 Alpha-2 LÃ¤ndercodes
def get_country_code(country_name):
    if isinstance(country_name, str):  # PrÃ¼fen, ob es eine Zeichenkette ist
        country = pycountry.countries.get(name=country_name)
        return country.alpha_2 if country else None
    return None  # Falls der Wert kein String ist (z. B. NaN)

# Beispiel-Datenframe erstellen (falls noch nicht vorhanden)
# ufo_report = pd.read_csv("deine_datei.csv")  # Falls Daten aus einer CSV geladen werden

# Neue Spalte "Country_Code" erstellen
ufo_report['country_code'] = ufo_report['country'].apply(lambda x: get_country_code(x) 
    if isinstance(x, str) and x.lower() not in ['non applicable', 'unknown', 'in orbit', 'at sea'] else None)

# Zeilen mit fehlendem "Country_Code" entfernen
ufo_report = ufo_report.dropna(subset=['country_code'])

In [ ]:
# Merge ufo_report with countries_df to get the corresponding country_id
ufo_report = ufo_report.merge(countries_df[['handle', 'country_id']], how='left', left_on='country_code', right_on='handle')

# Replace the country_code column with the country_id column
ufo_report['country_code'] = ufo_report['country_id']

# Drop unnecessary columns
ufo_report.drop(columns=['handle', 'country_id', "country"], inplace=True)
ufo_report = ufo_report.rename(columns={"country_code":"country_id"})

          date                                 city    state  country_id
0      06/2021    Felpham/Bognor Regis (UK/England)  Unknown          79
1      10/2014                 Swindon (UK/England)  Unknown          79
2      04/2020                     Brocket (Canada)       AB          39
3      08/2013  Lincoln (Lincolnshire) (UK/England)  Unknown          79
4      08/2014              Port Coquitlam (Canada)       BC          39
...        ...                                  ...      ...         ...
14581  01/1958                  Birchy Bay (Canada)       NF          39
14582  04/1957                               Lahore  Unknown         172
14583  10/1955                 Chester (UK/England)  Unknown          79
14584  10/1952                      Fukuoka (Japan)  Unknown         115
14585  06/1950                   Budapest (Hungary)  Unknown         101

[14586 rows x 4 columns]

# Subscribers Cleaning

In [308]:
subscribers = pd.read_csv(r"C:\Users\Martijn\Downloads\subscribers_netflix_2024 (1).csv")

In [309]:
subscribers = subscribers.rename(columns={'estimated_subscribers': 'subscribers'}).reset_index(drop=True)

In [310]:
# Merge ufo_report with countries_df to get the corresponding country_id
subscribers = subscribers.merge(countries_df[['handle', 'country_id']], how='left', left_on='country_code', right_on='handle')

# Replace the country_code column with the country_id column
subscribers['country_code'] = subscribers['country_id']

# Drop unnecessary columns
subscribers.drop(columns=['handle', 'country_id', "country"], inplace=True)
subscribers = subscribers.rename(columns={"country_code":"country_id"})

In [356]:
# Get unique entries from both columns
unique_dates_ufo = ufo_report["date"].unique()
unique_dates_movies = movies["date_added_formatted"].unique()

# Combine and get all unique entries
all_unique_dates = pd.unique(np.concatenate((unique_dates_ufo, unique_dates_movies)))
# Create a mapping of dates to their indices in all_unique_dates
date_to_index = {date: idx for idx, date in enumerate(all_unique_dates)}

# Replace dates in ufo_report["date"] with their corresponding indices
ufo_report["date_index"] = ufo_report["date"].map(date_to_index)

# Replace dates in movies["date_added_formatted"] with their corresponding indices
movies["date_index"] = movies["date_added_formatted"].map(date_to_index)

In [361]:
countries_df

     country_id handle           name
0             0     AW          Aruba
1             1     AF    Afghanistan
2             2     AO         Angola
3             3     AI       Anguilla
4             4     AX  Ã…land Islands
..          ...    ...            ...
244         244     WS          Samoa
245         245     YE          Yemen
246         246     ZA   South Africa
247         247     ZM         Zambia
248         248     ZW       Zimbabwe

[249 rows x 3 columns]

In [359]:
date_to_index

{'06/2021': 0,
 '10/2014': 1,
 '04/2020': 2,
 '08/2013': 3,
 '08/2014': 4,
 '07/2011': 5,
 '07/2010': 6,
 '06/2012': 7,
 '09/2012': 8,
 '06/2014': 9,
 '10/2013': 10,
 '07/2015': 11,
 '09/2013': 12,
 '12/2013': 13,
 '11/2015': 14,
 '08/2012': 15,
 '09/2015': 16,
 '10/2019': 17,
 '07/2012': 18,
 '09/2014': 19,
 '07/2013': 20,
 '07/2014': 21,
 '03/2020': 22,
 '11/2013': 23,
 '11/2012': 24,
 '08/2020': 25,
 '12/2019': 26,
 '11/2019': 27,
 '07/2016': 28,
 '10/2012': 29,
 '04/2014': 30,
 '12/2012': 31,
 '01/2014': 32,
 '10/2015': 33,
 '07/2020': 34,
 '06/2013': 35,
 '10/2011': 36,
 '08/2011': 37,
 '09/2019': 38,
 '07/2009': 39,
 '05/2014': 40,
 '01/2020': 41,
 '02/2020': 42,
 '08/2015': 43,
 '09/2016': 44,
 '07/2008': 45,
 '09/2009': 46,
 '01/2012': 47,
 '05/2020': 48,
 '07/2019': 49,
 '08/2016': 50,
 '09/2011': 51,
 '08/2004': 52,
 '08/2003': 53,
 '08/2010': 54,
 '01/2015': 55,
 '10/2008': 56,
 '09/2005': 57,
 '05/2013': 58,
 '05/2012': 59,
 '09/2022': 60,
 '03/2012': 61,
 '10/2020': 62,
 '11/2014': 63,
 '12/2014': 64,
 '02/2014': 65,
 '08/2022': 66,
 '05/2019': 67,
 '12/2011': 68,
 '03/2014': 69,
 '08/2008': 70,
 '08/2009': 71,
 '09/2003': 72,
 '06/2015': 73,
 '01/2009': 74,
 '07/2017': 75,
 '04/2012': 76,
 '08/2002': 77,
 '07/2022': 78,
 '10/2022': 79,
 '11/2016': 80,
 '06/2008': 81,
 '10/2016': 82,
 '12/2017': 83,
 '08/2019': 84,
 '08/2007': 85,
 '01/2008': 86,
 '10/2003': 87,
 '07/2005': 88,
 '11/2003': 89,
 '10/2010': 90,
 '10/2017': 91,
 '11/2005': 92,
 '04/2015': 93,
 '03/2015': 94,
 '07/2007': 95,
 '09/2010': 96,
 '10/2004': 97,
 '09/2020': 98,
 '05/2021': 99,
 '10/2005': 100,
 '11/2008': 101,
 '10/2007': 102,
 '07/2002': 103,
 '09/2007': 104,
 '07/2003': 105,
 '05/2015': 106,
 '07/2004': 107,
 '11/2011': 108,
 '06/2004': 109,
 '04/2008': 110,
 '06/2019': 111,
 '11/1999': 112,
 '05/2022': 113,
 '11/2020': 114,
 '06/2022': 115,
 '01/2007': 116,
 '06/2007': 117,
 '06/2016': 118,
 '02/2016': 119,
 '07/2018': 120,
 '09/2017': 121,
 '12/2015': 122,
 '07/2006': 123,
 '06/2011': 124,
 '06/2017': 125,
 '06/2005': 126,
 '08/2006': 127,
 '01/2016': 128,
 '07/2001': 129,
 '11/2006': 130,
 '03/2004': 131,
 '04/2017': 132,
 '09/2004': 133,
 '04/2004': 134,
 '10/2006': 135,
 '02/2009': 136,
 '06/2009': 137,
 '04/2013': 138,
 '03/2013': 139,
 '01/2013': 140,
 '03/2016': 141,
 '04/2019': 142,
 '05/2004': 143,
 '08/2017': 144,
 '08/2001': 145,
 '09/2002': 146,
 '09/2008': 147,
 '06/2010': 148,
 '05/2016': 149,
 '12/2003': 150,
 '02/2012': 151,
 '12/2006': 152,
 '07/2000': 153,
 '02/2017': 154,
 '11/2010': 155,
 '06/2002': 156,
 '02/2023': 157,
 '04/2016': 158,
 '08/2018': 159,
 '03/2005': 160,
 '06/2020': 161,
 '03/2007': 162,
 '09/1999': 163,
 '09/2001': 164,
 '02/2008': 165,
 '08/2005': 166,
 '11/2007': 167,
 '11/2022': 168,
 '05/2017': 169,
 '12/2007': 170,
 '11/2017': 171,
 '05/2009': 172,
 '12/2008': 173,
 '12/2020': 174,
 '05/2008': 175,
 '01/2019': 176,
 '01/2022': 177,
 '02/2015': 178,
 '03/2009': 179,
 '11/2004': 180,
 '10/2000': 181,
 '06/2006': 182,
 '05/2010': 183,
 '01/2017': 184,
 '08/1999': 185,
 '01/2003': 186,
 '06/2001': 187,
 '09/2006': 188,
 '10/2002': 189,
 '05/2007': 190,
 '12/2016': 191,
 '04/2007': 192,
 '04/2005': 193,
 '03/2008': 194,
 '11/2009': 195,
 '03/2017': 196,
 '06/2003': 197,
 '10/2009': 198,
 '07/1999': 199,
 '01/2011': 200,
 '04/2022': 201,
 '10/1999': 202,
 '12/2004': 203,
 '01/2004': 204,
 '08/2000': 205,
 '01/2018': 206,
 '09/2000': 207,
 '09/2018': 208,
 '04/2009': 209,
 '12/2021': 210,
 '04/2006': 211,
 '06/1999': 212,
 '03/2006': 213,
 '12/2010': 214,
 '03/2022': 215,
 '03/2011': 216,
 '04/2011': 217,
 '02/2022': 218,
 '02/2004': 219,
 '01/2010': 220,
 '03/2001': 221,
 '11/2002': 222,
 '05/2005': 223,
 '05/2006': 224,
 '05/2011': 225,
 '03/2019': 226,
 '01/2001': 227,
 '04/2010': 228,
 '06/2000': 229,
 '10/2018': 230,
 '10/2021': 231,
 '11/2001': 232,
 '02/2005': 233,
 '02/2013': 234,
 '12/2005': 235,
 '11/2021': 236,
 '02/2003': 237,
 '02/2007': 238,
 '10/2001': 239,
 '02/2002': 240,
 '01/2021': 241,
 '05/2001': 242,
 '02/2011': 243,
 '04/2021': 244,
 '12/2009': 245,
 '01/2023': 246,
 '01/2005': 247,
 '03/2010': 248,
 '05/2002': 249,
 '01/2006': 250,
 '09/1998': 251,
 '05/2003': 252,
 '08/2021': 253,
 '01/2002': 254,
 '03/2021': 255,
 '04/2001': 256,
 '12/2022': 257,
 '09/2021': 258,
 '07/1997': 259,
 '02/2021': 260,
 '11/2000': 261,
 '11/2018': 262,
 '12/2000': 263,
 '01/2000': 264,
 '02/2001': 265,
 '02/2006': 266,
 '12/2002': 267,
 '04/2003': 268,
 '10/1998': 269,
 '03/2000': 270,
 '12/1999': 271,
 '04/2018': 272,
 '06/2018': 273,
 '06/1998': 274,
 '12/2018': 275,
 '03/1997': 276,
 '05/2018': 277,
 '02/2018': 278,
 '12/2001': 279,
 '11/1998': 280,
 '08/1995': 281,
 '02/2000': 282,
 '06/1997': 283,
 '06/1995': 284,
 '07/2021': 285,
 '02/2019': 286,
 '03/2023': 287,
 '07/1998': 288,
 '04/2000': 289,
 '03/2003': 290,
 '03/2018': 291,
 '03/2002': 292,
 '04/2002': 293,
 '02/2010': 294,
 '12/1998': 295,
 '05/2000': 296,
 '06/1996': 297,
 '08/1998': 298,
 '03/1999': 299,
 '04/1999': 300,
 '02/1999': 301,
 '03/1998': 302,
 '05/1999': 303,
 '01/1999': 304,
 '06/1975': 305,
 '08/1997': 306,
 '09/1995': 307,
 '11/1997': 308,
 '04/1998': 309,
 '03/1995': 310,
 '07/1995': 311,
 '02/1995': 312,
 '06/1976': 313,
 '05/1997': 314,
 '10/1995': 315,
 '06/1993': 316,
 '06/1978': 317,
 '07/1978': 318,
 '06/1980': 319,
 '05/1995': 320,
 '06/1974': 321,
 '07/1977': 322,
 '06/1985': 323,
 '05/1998': 324,
 '04/1997': 325,
 '06/1979': 326,
 '08/1996': 327,
 '06/1977': 328,
 '04/1996': 329,
 '11/1996': 330,
 '04/1995': 331,
 '07/1996': 332,
 '10/1997': 333,
 '02/1998': 334,
 '06/1992': 335,
 '06/1982': 336,
 '06/1973': 337,
 '05/1996': 338,
 '12/1996': 339,
 '08/1978': 340,
 '07/1975': 341,
 '06/1994': 342,
 '02/1996': 343,
 '06/1990': 344,
 '01/1998': 345,
 '06/1983': 346,
 '11/1995': 347,
 '01/1995': 348,
 '07/1974': 349,
 '08/1994': 350,
 '06/1981': 351,
 '06/1988': 352,
 '06/1986': 353,
 '10/1994': 354,
 '12/1997': 355,
 '06/1984': 356,
 '08/1975': 357,
 '01/1997': 358,
 '06/1987': 359,
 '01/1996': 360,
 '09/1997': 361,
 '07/1976': 362,
 '06/1991': 363,
 '07/1994': 364,
 '07/1990': 365,
 '07/1980': 366,
 '10/1973': 367,
 '08/1974': 368,
 '08/1988': 369,
 '09/1996': 370,
 '07/1973': 371,
 '06/1989': 372,
 '10/1996': 373,
 '07/1987': 374,
 '10/1975': 375,
 '08/1976': 376,
 '12/1995': 377,
 '02/1997': 378,
 '09/1974': 379,
 '03/1996': 380,
 '07/1992': 381,
 '07/1989': 382,
 '08/1977': 383,
 '09/1976': 384,
 '12/1994': 385,
 '10/1988': 386,
 '07/1991': 387,
 '07/1993': 388,
 '08/1979': 389,
 '08/1990': 390,
 '07/1982': 391,
 '08/1993': 392,
 '07/1988': 393,
 '08/1980': 394,
 '05/1994': 395,
 '07/1984': 396,
 '08/1984': 397,
 '10/1989': 398,
 '10/1974': 399,
 '07/1979': 400,
 '09/1991': 401,
 '07/1985': 402,
 '08/1987': 403,
 '08/1986': 404,
 '11/1973': 405,
 '08/1982': 406,
 '10/1992': 407,
 '10/1987': 408,
 '09/1973': 409,
 '05/1974': 410,
 '05/1977': 411,
 '09/1994': 412,
 '10/1978': 413,
 '07/1986': 414,
 '11/1974': 415,
 '08/1973': 416,
 '09/1975': 417,
 '09/1993': 418,
 '08/1985': 419,
 '11/1976': 420,
 '01/1978': 421,
 '11/1975': 422,
 '07/1983': 423,
 '10/1990': 424,
 '08/1992': 425,
 '10/1979': 426,
 '11/1978': 427,
 '10/1986': 428,
 '07/1981': 429,
 '05/1983': 430,
 '09/1990': 431,
 '11/1979': 432,
 '09/1980': 433,
 '01/1975': 434,
 '03/1977': 435,
 '10/1976': 436,
 '10/1982': 437,
 '09/1978': 438,
 '05/1987': 439,
 '05/1982': 440,
 '05/1991': 441,
 '08/1991': 442,
 '05/1993': 443,
 '11/1977': 444,
 '10/1977': 445,
 '09/1981': 446,
 '04/1975': 447,
 '09/1989': 448,
 '08/1981': 449,
 '09/1984': 450,
 '01/1974': 451,
 '09/1983': 452,
 '12/1976': 453,
 '08/1983': 454,
 '04/1983': 455,
 '10/1991': 456,
 '11/1989': 457,
 '05/1992': 458,
 '03/1994': 459,
 '02/1978': 460,
 '01/1980': 461,
 '05/1981': 462,
 '04/1986': 463,
 '03/1975': 464,
 '12/1975': 465,
 '10/1983': 466,
 '05/1979': 467,
 '09/1979': 468,
 '10/1984': 469,
 '02/1976': 470,
 '05/1976': 471,
 '11/1988': 472,
 '10/1993': 473,
 '03/1980': 474,
 '10/1981': 475,
 '09/1986': 476,
 '01/1976': 477,
 '01/1977': 478,
 '01/1990': 479,
 '02/1979': 480,
 '04/1979': 481,
 '12/1980': 482,
 '10/1985': 483,
 '09/1985': 484,
 '09/1988': 485,
 '11/1987': 486,
 '02/1990': 487,
 '03/1993': 488,
 '12/1990': 489,
 '11/1993': 490,
 '04/1978': 491,
 '12/1978': 492,
 '03/1979': 493,
 '12/1987': 494,
 '01/1993': 495,
 '03/1978': 496,
 '05/1980': 497,
 '12/1989': 498,
 '08/1989': 499,
 '04/1992': 500,
 '04/1994': 501,
 '12/1977': 502,
 '12/1979': 503,
 '11/1986': 504,
 '05/1988': 505,
 '04/1973': 506,
 '02/1977': 507,
 '09/1982': 508,
 '03/1984': 509,
 '01/1982': 510,
 '11/1985': 511,
 '04/1987': 512,
 '04/1976': 513,
 '01/1989': 514,
 '11/1990': 515,
 '01/1979': 516,
 '02/1980': 517,
 '01/1981': 518,
 '12/1983': 519,
 '12/1982': 520,
 '09/1992': 521,
 '04/1993': 522,
 '12/1992': 523,
 '02/1993': 524,
 '04/1980': 525,
 '03/1986': 526,
 '09/1987': 527,
 '03/1988': 528,
 '03/1974': 529,
 '02/1975': 530,
 '11/1983': 531,
 '12/1991': 532,
 '11/1991': 533,
 '01/1994': 534,
 '03/1985': 535,
 '12/1985': 536,
 '02/1986': 537,
 '01/1988': 538,
 '03/1987': 539,
 '12/1974': 540,
 '03/1983': 541,
 '04/1990': 542,
 '03/1990': 543,
 '03/1991': 544,
 '01/1991': 545,
 '03/1992': 546,
 '11/1984': 547,
 '02/1984': 548,
 '09/1977': 549,
 '01/1986': 550,
 '01/1987': 551,
 '05/1990': 552,
 '02/1992': 553,
 '12/1984': 554,
 '05/1985': 555,
 '04/1982': 556,
 '02/1983': 557,
 '03/1982': 558,
 '04/1991': 559,
 '05/1986': 560,
 '01/1984': 561,
 '02/1991': 562,
 '11/1992': 563,
 '02/1988': 564,
 '01/1992': 565,
 '02/1994': 566,
 '04/2023': 567,
 '04/1561': 568,
 '09/1914': 569,
 '12/1762': 570,
 '12/1914': 571,
 '11/1906': 572,
 '06/1896': 573,
 '04/1916': 574,
 '10/1917': 575,
 '06/1930': 576,
 '06/1938': 577,
 '08/1944': 578,
 '05/1945': 579,
 '03/1944': 580,
 '09/1936': 581,
 '06/1943': 582,
 '09/1943': 583,
 '04/1944': 584,
 '01/1943': 585,
 '11/1942': 586,
 '06/1941': 587,
 '06/1944': 588,
 '02/1942': 589,
 '06/1945': 590,
 '08/1943': 591,
 '10/1947': 592,
 '12/1946': 593,
 '01/1947': 594,
 '06/1946': 595,
 '04/1950': 596,
 '06/1948': 597,
 '06/1954': 598,
 '12/1951': 599,
 '03/1951': 600,
 '07/1951': 601,
 '08/1954': 602,
 '07/1957': 603,
 '10/1952': 604,
 '05/1953': 605,
 '04/1957': 606,
 '07/1954': 607,
 '10/1955': 608,
 '08/1952': 609,
 '02/1955': 610,
 '10/1956': 611,
 '05/1955': 612,
 '07/1955': 613,
 '01/1956': 614,
 '07/1960': 615,
 '11/1963': 616,
 '07/1961': 617,
 '08/1958': 618,
 '06/1956': 619,
 '06/1969': 620,
 '05/1970': 621,
 '09/1968': 622,
 '12/1972': 623,
 '02/1972': 624,
 '04/1970': 625,
 '01/1969': 626,
 '11/1967': 627,
 '05/1968': 628,
 '05/1969': 629,
 '01/1968': 630,
 '01/1973': 631,
 '10/1972': 632,
 '09/1970': 633,
 '10/1967': 634,
 '03/1973': 635,
 '06/1971': 636,
 '06/1964': 637,
 '05/1972': 638,
 '07/1968': 639,
 '08/1972': 640,
 '10/1970': 641,
 '08/1966': 642,
 '08/1969': 643,
 '07/1971': 644,
 '06/1962': 645,
 '08/1967': 646,
 '06/1963': 647,
 '06/1967': 648,
 '07/1972': 649,
 '06/1968': 650,
 '06/1966': 651,
 '06/1972': 652,
 '06/1970': 653,
 '06/1965': 654,
 '07/1965': 655,
 '07/1969': 656,
 '07/1970': 657,
 '08/1965': 658,
 '10/1968': 659,
 '07/1966': 660,
 '09/1972': 661,
 '06/1960': 662,
 '10/1966': 663,
 '08/1964': 664,
 '08/1970': 665,
 '09/1967': 666,
 '06/1952': 667,
 '06/1957': 668,
 '10/1965': 669,
 '01/1970': 670,
 '07/1967': 671,
 '10/1971': 672,
 '09/1971': 673,
 '05/1966': 674,
 '08/1971': 675,
 '11/1969': 676,
 '11/1971': 677,
 '01/1971': 678,
 '11/1968': 679,
 '04/1966': 680,
 '06/1958': 681,
 '12/1969': 682,
 '12/1970': 683,
 '05/1971': 684,
 '11/1970': 685,
 '12/1968': 686,
 '06/1961': 687,
 '03/1972': 688,
 '11/1972': 689,
 '02/1970': 690,
 '08/1968': 691,
 '09/1969': 692,
 '08/1962': 693,
 '03/1970': 694,
 '04/1968': 695,
 '01/1967': 696,
 '04/1969': 697,
 '06/1959': 698,
 '03/1971': 699,
 '02/1969': 700,
 '04/1967': 701,
 '05/1964': 702,
 '08/1961': 703,
 '11/1966': 704,
 '03/1964': 705,
 '07/1959': 706,
 '12/1967': 707,
 '09/1966': 708,
 '08/1959': 709,
 '09/1962': 710,
 '08/1960': 711,
 '03/1962': 712,
 '01/1963': 713,
 '06/1953': 714,
 '07/1952': 715,
 '11/1962': 716,
 '09/1963': 717,
 '03/1963': 718,
 '06/1950': 719,
 '10/1962': 720,
 '09/1960': 721,
 '04/1961': 722,
 '03/1961': 723,
 '07/1956': 724,
 '08/1957': 725,
 '06/1951': 726,
 '01/1958': 727}